*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .container{
    display: flex;
} */

.container-child{
    width: 200px;
    height: 150px;
    margin-top: 20px;
    background-color: teal;
}

img{
    width: 20px;
}