*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input#prelevaNome,button#actionOn{
    margin-top: 20px !important; 
}

.containerFilms,.containerSerieTv{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container-fluid{
    padding: 0 !important;
}

.container-child,.container-child1{
    width: 200px;
    height: 150px;
    margin-top: 20px;
}

.container-child{
    background-color: teal;
}

.container-child1{
    background-color: tomato;
}

.lingua_originale img{
    width: 20px;
}
/* .card-body{
    opacity: 0;
}

.card-body:hover{
    opacity: 1;
} */