*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



input#prelevaNome,button#actionOn{
    margin-top: 20px !important; 
}

.containerFilms,.containerSerieTv{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container-fluid{
    padding: 0 !important;
}

.container-child,.container-child1{
    width: 200px;
    height: 150px;
    margin-top: 20px;
}

.container-child{
    background-color: teal;
}

.container-child1{
    background-color: tomato;
}

.lingua_originale img{
    width: 20px;
}

#logo_page{
    width: 251px;
    height: 100px;
}

/* .card-body{
    display: none;
} */

footer{
    background-color: #343a40;
    height: 40px;
    width: 100%;
    position: fixed;
    bottom: 0;
}
}

/* animazione .container-child */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #915256;
  }
  
  .card {
    background-color: transparent;
    width: 300px;
    height: 400px;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color: #2980b9;
    color: white;
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
    transform: rotateY(180deg);
  }

